
.faq{
    background: #f2f7f6 url(../images/top1.png);
    background-repeat: no-repeat;
    background-size: 100%;
}
.faq_wrap{
    padding-top: 100px;
    padding-bottom: 100px;
}
.faq_wrap .heading{
    font-size: 30px;
    opacity: 1;
}
.faq_wrap .text{
    font-size: 18px;
    margin-top: 30px;
}
.faq_wrap .faq_left img{
    width: 600px;
    height: auto;
}
.faq .accordion-item{
    margin-bottom: 20px;
}
.faq .accordion-header button{
    font-weight: 500;
    font-size: 24px;
    line-height: 30px;
}
.faq .accordion-body{
    background: var(--bs-bg-primary);
}
.faq .accordion-body p{
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
}
.faq .accordion-item{
    overflow: hidden;
    margin-top: 20px;
    border: none;
    border-radius: 7px;
    box-shadow: 0 2px 1px 0 rgba(255, 245, 245, 0.15), 0 0px 11px 0 rgb(0 0 0 / 10%);  
}
.faq .accordion-button{
    background-color: var(--bs-white-color);
}
.faq .accordion-button:focus{
    box-shadow: none;
}
.faq .accordion .accordion-button:not(.collapsed) {
    color: white;
    background-color: var(--bs-bg-primary);
}
.faq .accordion-button:not(.collapsed)::after {
    background-image: url(..//images/minus.png);
    transform: var(--bs-accordion-btn-icon-transform);
    filter: invert(95%) sepia(95%) saturate(1%) hue-rotate(96deg) brightness(104%) contrast(100%);
}
.faq .accordion-button::after {
    background-image: url(../images/plus.png);
}
.faq .faq_bottom h3{
    font-weight: 600;
    font-size: 50px;
    line-height: 75px;
    margin-bottom: 40px;
    font-family: 'Gilroy';
}
.faq .faq_bottom a{
    background: var(--bs-bg-secondary);
    padding: 15px 35px;
    line-height: 24px;
    letter-spacing: 1px;
    border-radius: 7px;
    color: var(--bs-white-color);
    font-family: 'Montserrat';
    font-weight: 500;
}
.faq .faq_bottom a:hover{
    background-color: #e4af10;
    color: var(--bs-white-color);
}
@media screen and (max-width: 768px) {
    .faq .faq_bottom h3 {
        font-weight: 600;
        font-size: 35px;
        line-height: 55px;
    }
}
@media screen and (max-width: 576px){
    .faq .heading {
        font-size: 20px;
        line-height: 60px;
    }
    .faq_wrap .text {
        font-size: 15px;
    }
    .faq .accordion-header button {
        font-size: 14px;
        line-height: 25px;
    }
    .faq .accordion-body p {
        font-size: 15px;
        line-height: 22px;
    }
    .faq .faq_bottom h3 {
        font-size: 22px;
        line-height: 30px;
    }
    .faq .faq_bottom a {
        padding: 8px 27px;
    }
}